/*鐧婚檰琛ㄥ崟鏍峰紡 start*/
.wrap{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.loginForm{
    margin-left: 35%;
    margin-top: 10%;
    background-color: #ffffff;
    width: 400px;
    height: 400px;
    float: left;
    z-index: 9999;
    position: fixed;
	border-radius: 10px;
    opacity: 0.9;
}
.usernameDiv{
    width: 300px;
    height: 40px;
    padding-left: 130px;
    padding-top: 30px;

}
.adminInput{
    width: 200px;
    height: 40px;
    font-size: 15px;
    border-radius: 0.5em;
    /*margin-left: auto;*/
    /*border: 1px solid #cccccc;*/
}
.passwordDiv{
    width: 300px;
    height: 40px;
    padding-left: 130px;
    padding-top: 28px;
}
.cardDiv{
    width: 120px;
    height: 40px;
    padding-top: 28px;
    padding-left: 14px;
    float: left;
}
.cardInput{
    width: 124px;
    height: 40px;
    font-size: 15px;
    border-radius: 0.5em 0em 0em 0.5em;
}
.codeDiv{
    width: 100px;
    height: 40px;
    padding-top: 28px;
    padding-right: 20px;
    float: left;
}
.codeInput{
    width: 80px;
    height: 40px;
    font-size: 15px;
    border-radius: 0em 0.5em 0.5em 0em;
    /*楠岃瘉鐮佹牱寮�*/
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    /*border: 0;*/
    letter-spacing: 2px;
    cursor: pointer;
}
i{
    position: absolute;
}
.adminIcon{
    font-size: 22px;
    margin-top: 8px;
    margin-left: 165px;
}
.logoHead{
    width: 250px;
    height: 60px;
	margin-left: 160px;
    padding-top: 25px;
}
.usernameLabel{
    width: 60px;
    height: 30px;
    font-size: 16px;
    float: left;
    margin-left: 55px;
    margin-top: 40px;
}
.submitLabel{
    width: 160px;
    height: 30px;
    font-size: 13px;
	margin-left: 120px;
    margin-top: 40px;
    cursor: pointer;
}
.usernameWrapDiv{
    width: 400px;
    height: 70px;
}
#canvas {
	float: right;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-right: -10px;
	cursor: pointer;
}

.input-val {
	width: 120px;
	background: #ffffff;
	height: 43px;
	padding: 0 2%;
	border-radius: 5px;
	border: none;
	border: 1px solid rgba(0,0,0,.2);
	font-size: 1.0625rem;
	margin-left: -40px;
	font-size: 16px;

}

.code {
	width: 200px;
	margin: 0 auto;
}
.submitDiv{
    width: 60%;
    height: 40px;
	margin-left: 70px;
    padding-left: 10px;
    padding-top: 28px;

}
.submit{
    width: 100%;
    height: 40px;
    border-radius: 0.5em;
	color: rgb(255, 255, 255);
	font-size: 20px;
}
.button{
    
}
img{
    position: absolute;
}
.imgStyle{
    width: 100%;
    height: 100%;
}
/*鐧婚檰琛ㄥ崟鏍峰紡 end*/

/*娉ㄥ唽椤甸潰鏍峰紡 start*/
.registerPage{
    width: 100%;
    height: 100%;
    /*background-color: #cccccc;*/
    display: none;
    opacity: 0.75;
}
.registerDiv{
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0.75;
}
/*娉ㄥ唽椤甸潰鏍峰紡 end*/
